@page
@model RegisterPage.Pages.Credentials.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.register[0].username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.register[0].password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.register[0].confirmpassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.register[0].firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.register[0].lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.register[0].dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.register[0].role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.register[0].Street)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.register) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.confirmpassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
